@import 'border'
@import 'transform'

.ServingDrinkModal
  background-color #333
  border-radius 10px
  color white
  width 500px
  padding 50px
  transform -3deg

  > .msg-group
    > .complement
      font-family 'Cabin Sketch'
      font-size 75px

    > .progress-msg
      font-family 'Architects Daughter'
      font-size 24px