@import 'pos'
@import 'box'
@import 'border'
@import 'transition'

@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch:700|Gloria+Hallelujah|Architects+Daughter|Delius')

.Store
  z-index 1

  > .modal
    abspos 0px 0px false false
    height 100%
    background-color rgba(0,0,0,.8)
    opacity 0
    z-index 2
    transition opacity 500ms linear

    &.enabled
      abspos 0px 0px 0px 0px
      opacity 1.0

    > .ServingDrinkModal
      margin 275px auto 0 auto

  > .blackboard
    position relative
    box-shadow 2px 5px 10px #111
    margin 25px auto 0 auto
    overflow hidden
    z-index 1

    > img
      abspos 0px 0px 0px 0px
      max-width 100%
      border-radius 10px
      background-color #050505
      background-size 100%

    > .BeverageList
      width 100%
      height 100%
      margin 15% auto 0 auto
